@model Transit.Models.TripFrequency

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TripFrequency</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.trip.label)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trip.label)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.start)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.start)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.end)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.end)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.exactTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.exactTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
